.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu img {
  width: 10%;
}

.menu nav {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.menu a {
  color: white;
  background-color: black;
  padding: 2%;
  height: 40%;
  width: 100px;
  border-radius: 5px;
  text-align: center;
}

.menu a:hover {
  background-color: white;
  border: 2px border black;
  color: black;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
